[Unit]
Description=Time Tracker Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/shabalin-aa/work/time
ExecStart=/usr/bin/python3 /home/shabalin-aa/work/time/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
